html {
	margin: 0 auto;
	max-width: 1200px;
}
body {
	background-image:url('../images/bg_pattern.png');
	background-repeat: repeat;
	font-family: 'Lato', sans-serif;
	line-height: 130%;
}
#logo {
	width: 20%;
	margin-left: 40%;
	padding-top: 20px;
}
nav  ul li{
	display: inline;
	padding-left: 20%;
}
nav a {
	font-weight: 700;
	color: #4196B4;
	text-decoration: none;
	font-size: 130%;
}
nav a:hover {
	color: #FF7E2E;
	font-style; italic;
}
nav {
	background-color:#E6E6E6;
	padding-top: 10px;
	padding-bottom: 10px;
}
footer {
	float: left;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 3px #4196B4 solid;
}
footer p {
	color: #FF7E2E;
	padding-bottom: 30px;
	padding-top: 20px;
}

@media screen and (max-width: 500px) {
	#logo {
		width: 50%;
		margin-left: 5%;
		float: left;
	}
	nav {
		float:right;
	}
	nav a {
	display:block;
	}
}
												/* HOME PAGE STYLE */
#latest_videos h1 {
	font-size: 200%;
	color: #E6E6E6;
	font-weight: 700;
	padding-left: 5%;
}
#latest_videos {
	float: left;
	width: 100%;
	margin-top: 5px;
	/*background-color: #4196B4;*/
	padding-top: 5px;
	/*margin-bottom: -200px;*/
   /*height: 550px; */ 
	/*border-top: 20px #4196B4 solid;*/
	/*border-bottom: 20px #4196B4 solid;*/
}
#heading1 {
	padding-top:10px;
	background-color:#4196B4;
	height: 40px;
}
#slider {
	/*padding-bottom: 200px;*/
	/*border-top: 20px #4196B4 solid;*/
	border-bottom: 20px #4196B4 solid;
}
.video_placeholder {
	background-color: black;
	width: 27%;
	height: 80%;
	margin-left: 5%;
	margin-top: 10px;
	float: left;
}
#video_links  img {
	width: 40%;
	display:inline;
	float: left;
}
#video_links img:first-child {
	margin-left: 9%;
}
#video_links  img:last-child {
	padding-left: 2%;
}
#our_videos img {
	position: absolute;
	float:left;
	width: 30%;
}
#our_videos img:hover {
	opacity: 0;
}
#interview_tricks img {
	position: absolute;
	float: left;
	width: 40%;
	margin-left: 50%;
}
#interview_tricks img:hover {
	opacity: 0;
}
#contact {
	float: left;
	margin-top: 20px;
	border-top: 3px #4196B4 solid;
	margin-bottom: 30px;
}
#contact p {
	float: left;
	color: #4196B4;
	margin-left: 30%;
}
#contact a {
	color: #FF7E2E;
	text-decoration: none;
}
#contact a:hover {
	color: #4196B4;
}

#contact p:first-child {
	padding-top: 20px;
}
#contact p:last-child {
	padding-bottom: 20px;
	padding-top: 10px;
}
@media screen and (max-width: 500px) {
	#video_links img {
		width: 80%;
	}
	#video_links img:last-child{
		padding-left: 9%;
		padding-top: 10px;
	}
	#contact p {
		margin-left: 5%;
	}
}
												/* VIDEOS PAGE */
#content_selection img:first-child {
	padding-left: 10%;
}
#tips img {
    opacity: 1;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}
#tips img:hover {
	opacity: 0;
}
#tips img {
	position: absolute;
	width: 40%;
	padding-left: 5%;
	padding-top: 20px;
	float: left;
}
#interviews img {
	position: absolute;
	width: 40%;
	padding-left: 50%;
	padding-top: 20px;
	float: right;
 }
 #interviews img:first-child {
	opacity: 1;
	transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-webkit-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
 }
 #interviews img:hover {
	opacity: 0;
 }

 #video {
	margin-left: 20%;
	margin-top: 20px;
	margin-bottom: 30px;
 }
 #video b {
	color: #FF7E2E;
	font-size: 150%;
 }
 #video a {
	color: #4196B4;
	text-decoration: none;
 }
 #video a:hover {
	color: #FF7E2E;
}
#video a:last-child {
	padding-left: 65%;
}
											/* ABOUT PAGE */
 #about p {
	float: left;
	color: #4196B4;
	padding-left: 20%;
	padding-right: 5%;
	padding-top: 10px;
 }
 #about h1 {
	line-height: 110%;
	float: left;
	color: #FF7E2E;
	font-size: 200%;
	padding-top: 50px;
	padding-left: 20%;
 }
 @media screen and (max-width: 500px) {
	about p {
		padding-left: 5%;
	}
 }